In [1]:
import pandas as pd

In [2]:
df_ravi = pd.read_csv('COCO_annotations_gen.csv')

In [3]:
df_ravi

,Unnamed: 0.1,Unnamed: 0,image_id,id,caption,caption_pt,gen_caption
0,0,0,179765,38,A black Honda motorcycle parked in front of a ...,Uma motocicleta Honda preta estacionada em fre...,Uma motocicleta preta estacionada em um quinta...
1,1,1,179765,182,A Honda motorcycle parked in a grass driveway,Uma motocicleta Honda estacionada em uma entra...,Uma motocicleta preta estacionada em um quinta...
2,2,2,190236,401,An office cubicle with four different types of...,Um cubículo de escritório com quatro tipos dif...,Uma mesa de computador com dois monitores e um...
3,3,3,331352,441,A small closed toilet in a cramped space.,Um pequeno banheiro fechado em um espaço apert...,Um vaso sanitário branco sentado em um banheir...
4,4,4,517069,447,Two women waiting at a bench next to a street.,Duas mulheres esperando em um banco ao lado de...,Uma mulher sentada em um banco na calçada.
...,...,...,...,...,...,...,...
25009,25009,25009,9590,821635,A group of men sipping drinks and talking at a...,Um grupo de homens bebendo bebidas e conversan...,Um grupo de pessoas sentadas ao redor de uma m...
25010,25010,25010,84664,822557,"A plate of food with some eggs, potatoes, brea...","Um prato de comida com alguns ovos, batatas, p...",Um prato branco coberto com diferentes tipos d...
25011,25011,25011,331569,824852,The strawberries was sitting beside the tall g...,Os morangos estavam sentados ao lado do copo a...,Um copo de suco de laranja ao lado de um smoot...
25012,25012,25012,231237,825902,A bunch of small red flowers in a barnacle enc...,Um monte de pequenas flores vermelhas em um va...,Um vaso cheio de flores em cima de uma mesa.
25013,25013,25013,386134,826793,Food is in a styrofoam take out container.,A comida está em um recipiente de isopor.,Um recipiente de plástico cheio de diferentes ...

In [36]:
referencias = []
preditcs = []
 
for i in df_ravi['image_id']:
    aux = []
    for j in range(len(df_ravi[df_ravi['image_id']==331352]['caption_pt'].values)):
        aux.append(df_ravi[df_ravi['image_id']==i]['caption_pt'].values[j].split(" "))
    referencias.append(aux)
    preditcs.append(df_ravi[df_ravi['image_id']==i]['gen_caption'].values[0].split(" "))

In [19]:
df_ravi[df_ravi['image_id']==331352]['caption_pt'].values[0].split(" ")

['Um', 'pequeno', 'banheiro', 'fechado', 'em', 'um', 'espaço', 'apertado.']

In [66]:
df_ravi[df_ravi['image_id']==331352]['gen_caption'].values[0].split(" ")

['Um',
 'vaso',
 'sanitário',
 'branco',
 'sentado',
 'em',
 'um',
 'banheiro',
 'ao',
 'lado',
 'de',
 'uma',
 'lata',
 'de',
 'lixo.']

In [49]:
from nltk.translate.bleu_score import sentence_bleu
import numpy as np

In [50]:
def bleu_calc(reference, candidate):    
    return sentence_bleu(reference, candidate, weights=(1, 0, 0, 0)),sentence_bleu(reference, candidate, weights=(0.5, 0.5, 0, 0)),sentence_bleu(reference, candidate, weights=(0.33, 0.33, 0.33, 0)), sentence_bleu(reference, candidate, weights=(0.25, 0.25, 0.25, 0.25))

In [51]:
def metrica_avaliacao(referencias, preditcs):
    bleu_um = []
    bleu_dois = []
    bleu_tres = []
    bleu_quatro = []
    
    for i in range(len(preditcs)):
        
        b1,b2,b3,b4 = bleu_calc(referencias[i], preditcs[i])
        bleu_um.append(b1)
        bleu_dois.append(b2)
        bleu_tres.append(b3)
        bleu_quatro.append(b4)

    print("BLue 1:")   
    print("Média: ",np.average(bleu_um))    
    print("Desvio Padrão", np.std(bleu_um))
    print()

    print("BLue 2:")   
    print("Média: ",np.average(bleu_dois))    
    print("Desvio Padrão", np.std(bleu_dois))
    print()

    print("BLue 3:")   
    print("Média: ",np.average(bleu_tres))    
    print("Desvio Padrão", np.std(bleu_tres))
    print()

    print("BLue 4:")   
    print("Média: ",np.average(bleu_quatro))    
    print("Desvio Padrão", np.std(bleu_quatro))
    print()

In [52]:
metrica_avaliacao(referencias, preditcs)

BLue 1:
Média:  0.6642820757209363
Desvio Padrão 0.17889699378404306

BLue 2:
Média:  0.49206908494228196
Desvio Padrão 0.2354687505998106

BLue 3:
Média:  0.32955084804967244
Desvio Padrão 0.28070830512544437

BLue 4:
Média:  0.20993775750215396
Desvio Padrão 0.2749931066845848

### Buscando as imagens especificas de teste

In [40]:
import json
test_json  = "coco2017/annotations/captions_val2017.json"
f = open(test_json)
data_teste = json.load(f)
f.close()

In [41]:
df_img_test = pd.DataFrame(data_teste['images'])
df_img_test.head()

,license,file_name,coco_url,height,width,date_captured,flickr_url,id
0,4,000000397133.jpg,http://images.cocodataset.org/val2017/00000039...,427,640,2013-11-14 17:02:52,http://farm7.staticflickr.com/6116/6255196340_...,397133
1,1,000000037777.jpg,http://images.cocodataset.org/val2017/00000003...,230,352,2013-11-14 20:55:31,http://farm9.staticflickr.com/8429/7839199426_...,37777
2,4,000000252219.jpg,http://images.cocodataset.org/val2017/00000025...,428,640,2013-11-14 22:32:02,http://farm4.staticflickr.com/3446/3232237447_...,252219
3,1,000000087038.jpg,http://images.cocodataset.org/val2017/00000008...,480,640,2013-11-14 23:11:37,http://farm8.staticflickr.com/7355/8825114508_...,87038
4,6,000000174482.jpg,http://images.cocodataset.org/val2017/00000017...,388,640,2013-11-14 23:16:55,http://farm8.staticflickr.com/7020/6478877255_...,174482

In [62]:
# carro na estrada
file_name_imagem = "000000001532.jpg"
df_ravi[df_ravi['image_id']==df_img_test[df_img_test["file_name"]==file_name_imagem]['id'].values[0]]['gen_caption'].values[0]

'Uma estrada cheia de tráfego ao lado de um sinal de autoestrada.'

In [64]:
# mulher com raquete
file_name_imagem = "000000090284.jpg"
df_ravi[df_ravi['image_id']==df_img_test[df_img_test["file_name"]==file_name_imagem]['id'].values[0]]['gen_caption'].values[0]

'Uma mulher batendo uma bola de tênis com uma raquete de tênis.'

In [65]:
# Banheiro
file_name_imagem = "000000363784.jpg"
df_ravi[df_ravi['image_id']==df_img_test[df_img_test["file_name"]==file_name_imagem]['id'].values[0]]['gen_caption'].values[0]

'Um banheiro sujo com pia, vaso sanitário e banheira.'

In [ ]:
#000000001532.jpg carro na estrada
#000000090284.jpg mulher com raquete
#000000363784.jpg